.links{
    display: flex;
    justify-content: end;
    padding: 10px;
}

main{
    padding: 15px 30px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    text-align: center;
    margin-bottom: 50px;
}

.images{
    margin-top: 50px;
}

#searchinput{
    padding: 0 5px;
}

.searchbar form{
    display: flex;
    align-items: center;
}

.searchbar form input:first-child{
    margin-right: 5px;
    height: 36px;
    width: 300px;
}

.images{
    border: 1px solid gray;
    width: 100%;
    padding: 15px;
    margin-top: 200px;
}

.images h3{
    text-align: center;
}

.images img{
    max-width: 390px;
}


img{
    max-width: 420px;
    max-height: 400px;
}

.container-teste{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-box{
    margin-bottom: 15px;
}

.image-box img{
    border-radius: 3px;
}


.block{
    animation: scrollreveal linear;
    animation-timeline: view();
}

.filter-box{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 5px 45px 5px 0;
}

@keyframes scrollreveal{
    from{
        opacity: 0.8;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


.modal-insert{
    display: none;
    width: 500px;
    height: 500px;
    background-color: black;
    position: absolute;
    z-index: 100;
}

.modal-content p{
    color: white;
}

.close-btn{
    color: white;
    text-align: right;
}

.close-x{
    padding: 10px;
    cursor: pointer;
    transition-duration: .3s;
}

.close-x:hover{
    background-color: gray;
}