body{
    background-color: #1b263b;
    color: #fff;
} 

.container-teste{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.links{
    display: flex;
    justify-content: end;
    padding: 10px;
}

main{
    padding: 15px 30px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    text-align: center;
    margin-bottom: 50px;
}

.images{
    margin-top: 50px;
}

#searchinput{
    padding: 0 5px;
}

.searchbar form{
    display: flex;
    align-items: center;
}

.searchbar form input:first-child{
    margin-right: 5px;
    height: 36px;
    width: 300px;
}

.images{
    border: 1px solid gray;
    width: 100%;
    padding: 15px;
    margin-top: 200px;
}

.images h3{
    text-align: center;
}

.images img{
    max-width: 390px;
}


img{
    max-width: 420px;
    max-height: 400px;
}

.container-teste{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-box{
    margin-bottom: 15px;
    margin-top: 15px;
}

.image-box img{
    border-radius: 3px;
}


.block{
    animation: scrollreveal linear;
    animation-timeline: view();
}

.filter-box{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 5px 45px 5px 0;
}

@keyframes scrollreveal{
    from{
        opacity: 0.8;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* Botão para abrir modal de formulário de upload */
.upload-btn{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.close-btn{
    color: white;
    text-align: right;
}

.menu{
    margin-right: 20px;
    padding-top: 10px;
}